.header-title {
    font-size: 36px;
    padding: 0 20px 0 20px;
}

.header-icon {
    font-size: 36px;
    width: 36px;
    height:36px;
}

.container {
    display: flex;
}

.tag {
    margin-left: 10px;
}
